body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.682);
    margin: 0;
    padding: 0;
}

.first {
    display: inline-block;
    border: 1px solid black;
    background-color: #f2f2f2;
    width: 10px;
    height: 10px;
    transition: transform 0.2s ease;
}

.first,
.second {
    position: absolute;
    border-radius: 50%;
    cursor: none;
}

.second {
    display: inline-block;
    cursor: none;
    background-color: black;
    width: 10px;
    height: 10px;
    transition: transform 0.5s ease;
}